<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="body--class">
    <div class="user"></div>
      <h1>My profile</h1>
      <button class="btn--edit">Edit</button>
      <h2>Roshnie de Groen</h2>
      <p>Member since: 23-04-2022</p>
    </div>
  
    <div class="account">
      <h3>Account</h3>
      <h4>Username</h4>
      <h5>Chicken</h5>
      <h4>Email</h4>
      <h5>Roshnie@degroen.com</h5>
      <h4>Phone number</h4>
      <h5>+316 123 123 12</h5>
    </div>

    <div class="password">
      <h3>Password</h3>
      <button class="btn--password">Change password</button>
    </div>

    <div class="information">
      <h3>Personal information</h3>
      <h4>Country</h4>
      <h5>The Netherlands</h5>
      <h4>City</h4>
      <h5>Purmerend</h5>
      <h4>Date of Birth</h4>
      <h5>14-04-1998</h5>
    </div>
    
  </div> 
  </body>
</html>
