* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "sans-serif", "Lato";
}

ul {
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  color: #4f4f4f;
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 1.25em;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  margin-top: 1em;
}

a {
  position: relative;
  left: 10em;
  background: #41c1a5;
  border-radius: 0.25em;
  font-weight: 300;
  font-size: 1.25em;
  color: #fff;
  padding: 0.25em;
  border: 0;
  text-decoration: none;
  margin: 0.5em;
  text-align: center;
}
